  <div class="jumbotron">
  <h1 class="display-4"><%= "#{show_welcome}!" %></h1>
  <p class="lead"><%= t('home_app_description') %>  </p> 
  <hr class="my-4">
  <p><%= t('home_app_options') %></p>
  <%= render "menu" %>
</div>
